@use "src/scss/variables";
@use "src/scss/layers";

.header-wrapper {
  position: absolute;
  top: 0;

  background-color: var(--light);
  height: variables.$header-height;
  border: 1px solid var(--divider--secondary);

  margin-left: variables.$side-navigation-width;
  width: calc(100% - #{variables.$side-navigation-width});
  padding: 24px 40px 24px 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  z-index: layers.$header;

  &.transparent {
    background-color: transparent;
    border: none;
    --background--light-stroke: var(--background--primary);
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: var(--typography--heading);
}

.search-input {
  min-width: 380px;
}

.right-bar-section {
  margin-left: auto;
  display: flex;
  flex-direction: row;

  & > * {
    margin-left: 16px;
  }
}

.notification-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background--light-stroke);
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 8px;
  position: relative;

  .notification-circle {
    width: 8px;
    height: 8px;
    background: var(--red-core);
    border: 2px solid var(--background--primary);
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 11px;
  }
}

.e-services-button-wrapper {
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 4px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--typography--secondary);
  background-color: var(--background--light-stroke);
  cursor: pointer;
  min-width: 112px;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
}
