$red-core: #f26666;
$orange-core: #faad66;
$supernova-core: #ffe166;
$green-core: #66c088;
$blue-core: #799dec;
$soft-blue: #5387f4;
$electric-core: #8d85eb;
$purple-core: #ac89d7;
$pacific-core: #00b0b9;
$gray-core: #f5f5f5;

$red: #fde6e6;
$orange: #fef1e6;
$supernova: #fffaf6;
$green: #e6f5eb;
$blue: #e9effc;
$electric: #ecebfc;
$purple: #e1ebf8;
$purple-dark: #120c37;
$pacific: #b3b7ea;

$emphasis-blue: #1186fa;

$mid--success: #e4f3cf;
$mid--error: #ffe4e4;
$mid--warning: #ffecdb;
$mid--info: #dee7fa;

$background--primary: #242423;
$background--subtle: #2a2c3d;
$background--light-stroke: #3c3c52;
$background--dark-stroke: #242433;
$background--error: #fff1f1;
$background--success: #f0f7e7;
$background--warning: #fff5ed;
$background--info: #f0f8ff;
$background--dark-grey: #3c4352;

$cta--primary--default: $blue-core;
$cta--primary--hover: $blue-core;
$cta--primary--active: $emphasis-blue;
$cta--primary--disabled: $blue-core;

$cta--secondary--default: #565866;
$cta--secondary--hover: $blue-core;
$cta--secondary--active: $emphasis-blue;
$cta--secondary--disabled: $cta--secondary--default;

$cta--positive--default: $background--success;
$cta--positive--hover: $green-core;
$cta--positive--active: $green-core;
$cta--positive--disabled: $green-core;

$cta--negative--default: $background--error;
$cta--negative--hover: $red-core;
$cta--negative--active: $red-core;
$cta--negative--disabled: $red-core;

$typography--primary: #ffffff;
$typography--secondary: #b2bac9;
$typography--tertiary: #8e94a3;

$divider--primary: #414858;
$divider--secondary: #525a6b;

$chart-1: #033dbd;
$chart-2: #779bea;
$chart-3: #bccef5;
$chart-4: #00677f;
$chart-5: #b3e7ea;
$chart-6: #5c068c;
$chart-7: #ac89d7;
$chart-8: #d6c4eb;
$chart-9: #66d0d5;
$chart-10: #eaaa00;
$chart-11: #ffe166;
$chart-12: #fff0b3;
$chart-13: #c9660c;
$chart-14: #faad66;
$chart-15: #fdd6b3;
$chart-16: #036628;
$chart-17: #66c088;
$chart-18: #b3e0c4;
$chart-19: #9f0303;
$chart-20: #f26666;
$chart-21: #f9b3b3;
$chart-22: #11096d;
$chart-23: #8d85eb;
$chart-24: #c6c2f5;
