@font-face {
  font-family: "ADNOC Sans";
  src: url("../assets/fonts/adnoc-sans-w-bd/adnoc-sans-w-bd.eot")
      format("embedded-opentype"),
    url("../assets/fonts/adnoc-sans-w-lt/adnoc-sans-w-lt.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ADNOC Sans";
  src: url("../assets/fonts/adnoc-sans-w-lt/adnoc-sans-w-lt.eot")
      format("embedded-opentype"),
    url("../assets/fonts/adnoc-sans-w-lt/adnoc-sans-w-lt.woff2") format("woff2");

  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ADNOC Sans";
  src: url("../assets/fonts/adnoc-sans-w-md/adnoc-sans-w-md.eot")
      format("embedded-opentype"),
    url("../assets/fonts/adnoc-sans-w-md/adnoc-sans-w-md.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ADNOC Sans";
  src: url("../assets/fonts/adnoc-sans-w-rg/adnoc-sans-w-rg.eot")
      format("embedded-opentype"),
    url("../assets/fonts/adnoc-sans-w-rg/adnoc-sans-w-rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ADNOC Sans";
  src: url("../assets/fonts/adnoc-sans-w-xbd/adnoc-sans-w-xbd.eot")
      format("embedded-opentype"),
    url("../assets/fonts/adnoc-sans-w-xbd/adnoc-sans-w-xbd.woff2")
      format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
