$list-item: 1;
$accordion-item: 2;
$expand-button: 10;
$action-panel: 20;
$date-picker: 21;

// global layers
$main-content: 2;
$header: 3;
$navbar-desktop: 3;
$navbar-mobile: 3;
$search-page: 4;
$header-menu: 5;
$mobile-approvals-menu: 10;
$modal: 1000;
$fullscreen-loader: 1001;
$tooltip: 2000;
$sticky-org-chart-header: 1;
$sticky-profile-header: 1;
$sticky-servicenow-header: 1;
$back-button: 2;
$delegation: 3;
$filter-popup: 5;
$search-suggestions: 4;
